.callout {
	.module {
		padding-top: 25px;
		margin-top: 25px;
		border-top: 1px solid #efefef;

		&:nth-child(1) {
			padding-top: 0;
			margin-top: 0;
			border-top: none;
		}

		@media screen and (max-width: 800px) {
			padding-top: 25px;
			margin-top: 25px;
			border-top: 1px solid #efefef;
		}

	}
}


input[type="text"] {
	border-radius: 3px;
	border: 1px solid #ccc;
	font-size: 16px;
	padding: 5px;
	margin: 0;
	color: #999;
}
button {
    border-radius: 3px;
    border: 1px solid #ccc;
    font-size: 16px;
    padding: 5px;
    margin: 0;
    color: #999;
    background-color: #fff;
    cursor: pointer;
}
.btn-group {
	white-space: nowrap;
	&:after {
		content: '';
		clear: both;
		display: table;
	}
}
.btn-group input[type="text"] {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    float: left;
    border-right: none;
    box-shadow: none;
    -webkit-appearance: none;
}
.btn-group input[type="text"] + button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}