.footer {
    background-color: #efefef;
    padding: 10px 0;
    text-align: center;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;

	.list {
	    display: inline-block;
	}
	.list-item {
	    display: inline;
	    margin-left: 20px;

		&:nth-child(1) {
		    margin-left: 0;
		}
	}
}


// /* FOOTER */
// .footer {
// 	padding: 25px 0 15px;
// 	position: fixed;
// 	bottom: 0;
// 	background-color: #f0f0f0;
// 	width: 100%;
// 	text-align: center;
// 	z-index: 999;

// 	ul {
// 		list-style-type: none;
// 		font-family: Helvetica, Arial, sans-serif;
	
// 		li {
// 			display: inline-block;
// 			font-size: 16px;
// 			border-right: 1px solid #e0e0e0;
// 			padding: 0 10px 0 0;
// 			margin: 0 10px 0 0;
// 			float: left;

// 			&:last-child {
// 				border-right: none;
// 				padding-right: 0;
// 				margin-right: 0;
// 			}
// 		}
// 	}

// 	@media screen and (max-width: 599px) {
//         width: 100%;
//         padding: 10px 10px 4px 10px;

//         ul {
// 			padding-left: 50%;
// 			margin-left: -35%;

// 	        li {
// 	        	border: none;
// 				font-size: 12px;
// 				padding: 0 5px 0 0;
// 				margin: 0 5px 0 0;
// 	        }
//         }
// 	}	
// }