.footer {
    background-color: #efefef;
    padding: 10px 0;
    text-align: center;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;

	.list {
	    display: inline-block;
	}
	.list-item {
	    display: inline;
	    margin-left: 20px;

		&:nth-child(1) {
		    margin-left: 0;
		}
	}

	@media screen and (max-width: 800px) {
		display: none;
	}
}