html,
body {
	font-family: Helvetica, Arial, sans-serif;
	color: #333;
	font-size: 18px;
	line-height: 22px;
}

html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}

body {
	min-width: 300px;
	margin: 0 auto;
}

a {
	color: #777;

	&:hover {
		color: #444;
	}
}

h1 {
	font-size: 30px;
	line-height: 1.25em;
// 	font-weight: bold;
}
// h1 {
// 	padding: .5em 0 1.25em;
// 	width: 80%;
// 	text-align: center;
// 	margin: auto;
// }

strong {
	font-weight: bold;
}

h2 {
	padding: .5em 0 .5em;
	font-weight: bold;
	font-style: italic;
}

p {
	padding-top: 20px;

	&:nth-child(1) {
		padding-top: 0;
	}
}

em {
	font-style: italic;
}

// .active > * {
// 	font-weight: bold;
// 	color: #444;
// }

// .clearfix {
// 	display: inline-block;

// 	&:after {
// 		content: ".";
// 		display: block;
// 		clear: both;
// 		visibility: hidden;
// 		line-height: 0;
// 		height: 0;
// 	}
// }