html,
body {
	font-family: Helvetica, Arial, sans-serif;
	color: #333;
	font-size: 18px;
	line-height: 22px;
	min-width: 835px;
}

html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}

body {
	min-width: 300px;
	margin: 0 auto;
}

a {
	color: #777;

	&:hover {
		color: #444;
	}
}

h1 {
	font-size: 30px;
	line-height: 1.25em;
}

strong {
	font-weight: bold;
}

h2 {
	padding: .5em 0 .5em;
	font-weight: bold;
	font-style: italic;
}

p {
	padding-bottom: 20px;

	&:last-child {
		padding-bottom: 0;
	}
}

em {
	font-style: italic;
}

// /* CONTENT */
.content {

	.img {
		width: 100%;

		&.side {
			float: left;
			margin: 0 10px 10px 0;
			width: 208px;
			height: 300px;
		}

		// @media screen and (max-width: 800px) {
		// 	width: 100%;
		// 	height: auto;
		// }
	}
}

// @media screen and (max-width: 800px) {
// 	.contact-info {
// 		li {
// 			display: inline-block;
// 			margin-right: 20px;

// 			&:last-child {
// 				margin-right: 0;
// 			}
// 		}
// 	}
// }