/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html,
body {
  font-family: Helvetica, Arial, sans-serif;
  color: #333;
  font-size: 18px;
  line-height: 22px;
  min-width: 835px;
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  min-width: 300px;
  margin: 0 auto;
}
a {
  color: #777;
}
a:hover {
  color: #444;
}
h1 {
  font-size: 30px;
  line-height: 1.25em;
}
strong {
  font-weight: bold;
}
h2 {
  padding: .5em 0 .5em;
  font-weight: bold;
  font-style: italic;
}
p {
  padding-bottom: 20px;
}
p:last-child {
  padding-bottom: 0;
}
em {
  font-style: italic;
}
.content .img {
  width: 100%;
}
.content .img.side {
  float: left;
  margin: 0 10px 10px 0;
  width: 208px;
  height: 300px;
}
.col {
  padding: 0 10px;
}
.lay {
  display: table;
  margin: auto;
}
.lay1 .col {
  width: 100%;
  display: table;
}
.lay7 {
  display: table;
  margin: auto;
}
.lay7 .col {
  vertical-align: top;
  display: table-cell;
}
.lay7 .col:nth-child(1) {
  width: 70%;
  padding-right: 50px;
}
.lay7 .col:nth-child(2) {
  width: 30%;
}
.content {
  max-width: 900px;
  margin: 0 auto 75px;
}
header > .col {
  text-align: center;
}
header .img.logo {
  width: 100%;
  padding: 10px 10px 0;
  max-width: 584px;
}
/* NAVIGATION */
.nav {
  list-style-type: none;
  font-size: 16px;
  margin: 0 -10px -3px;
  background-color: #ccc;
}
.nav .nav-item {
  display: inline-block;
}
.nav .nav-item:first-child {
  display: none;
}
.nav .nav-item:last-child {
  border-right: none;
  padding-right: 0;
  margin-right: 0;
}
.nav .nav-item.active .nav-item-link {
  background-color: #eee;
  font-weight: normal;
}
.nav .nav-item-link {
  padding: 10px;
  margin: 0 0 0 -3px;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
}
.nav .nav-item-link:after {
  display: table;
  clear: both;
  content: '';
}
.nav .nav-item-link:hover {
  background-color: #ddd;
}
/*heading*/
nav {
  text-align: center;
  margin: 15px 0;
  position: relative;
}
nav .img {
  position: absolute;
  left: -110px;
  z-index: 0;
  top: 5px;
  height: 104px;
  width: 96px;
}
.welcome nav .img {
  display: inline-block;
}
nav ul {
  z-index: 9999;
  position: relative;
}
.callout .module {
  padding-top: 25px;
  margin-top: 25px;
  border-top: 1px solid #efefef;
}
.callout .module:nth-child(1) {
  padding-top: 0;
  border-top: none;
  text-align: center;
}
input[type="text"] {
  border-radius: 3px;
  border: 1px solid #ccc;
  font-size: 16px;
  padding: 5px;
  margin: 0;
  color: #999;
}
button {
  border-radius: 3px;
  border: 1px solid #ccc;
  font-size: 16px;
  padding: 5px;
  margin: 0 0 0 -5px;
  color: #999;
  background-color: #fff;
  cursor: pointer;
}
#userName {
  width: 100%;
  margin-bottom: 10px;
}
.btn-group {
  white-space: nowrap;
}
.btn-group:after {
  content: '';
  clear: both;
  display: table;
}
.btn-group input[type="text"] {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: none;
  box-shadow: none;
  -webkit-appearance: none;
  padding-right: 8px;
}
.btn-group input[type="text"] + button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.me .img {
  float: left;
  margin: 0 10px 10px 0;
  width: 208px;
  height: 300px;
}
.footer {
  background-color: #efefef;
  padding: 10px 0;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
.footer .list {
  display: inline-block;
}
.footer .list-item {
  display: inline;
  margin-left: 20px;
}
.footer .list-item:nth-child(1) {
  margin-left: 0;
}
