/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  font-family: Helvetica, Arial, sans-serif;
  color: #333;
  font-size: 18px;
}
body {
  min-width: 300px;
  margin: 0 auto;
  text-align: center;
}
a {
  color: #777;
}
a:hover {
  color: #444;
}
h1 {
  font-size: 30px;
  width: 80%;
  text-align: center;
  margin: auto;
  line-height: 1.25em;
}
h1 {
  padding: .5em 0 1.25em;
  font-weight: bold;
  width: 80%;
  text-align: center;
  margin: auto;
}
strong {
  font-weight: bold;
  line-height: 1.25em;
}
h2 {
  padding: .5em 0 .5em;
  font-weight: bold;
  font-style: italic;
}
p {
  padding-bottom: 1em;
}
.active > * {
  font-weight: bold;
  color: #444;
}
.clearfix {
  display: inline-block;
}
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
/* PAGE WRAPPERS */
.pg-wrapper {
  text-align: center;
  width: 900px;
  margin: 0 auto 100px;
}
@media screen and (max-width: 599px) {
  .pg-wrapper {
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
  }
}
.pg-wrapper h2,
.pg-wrapper p,
.pg-wrapper ol {
  text-align: left;
}
/* NAVIGATION */
.nav {
  list-style-type: none;
  font-size: 16px;
  margin-bottom: -3px;
  background-color: #ccc;
}
.nav .nav-item {
  display: inline-block;
}
.nav .nav-item:last-child {
  border-right: none;
  padding-right: 0;
  margin-right: 0;
}
.nav .nav-item.active .nav-item-link {
  background-color: #eee;
  font-weight: normal;
}
.nav .nav-item-link {
  padding: 10px;
  margin: 0 0 0 -3px;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
}
.nav .nav-item-link:after {
  display: table;
  clear: both;
  content: '';
}
.nav .nav-item-link:hover {
  background-color: #ddd;
}
/*heading*/
nav {
  text-align: center;
  margin: 15px 0;
  position: relative;
}
nav .img {
  position: absolute;
  left: -110px;
  z-index: 0;
  top: 5px;
  height: 104px;
  width: 96px;
}
.welcome nav .img {
  display: inline-block;
}
nav ul {
  z-index: 9999;
  position: relative;
}
/* CONTTENT */
@media screen and (max-width: 599px) {
  .welcome {
    width: 100%;
    float: none;
  }
}
.welcome .img.logo {
  width: 584px;
  height: 121px;
  margin: 15px auto 0;
}
@media screen and (max-width: 599px) {
  .welcome .img.logo {
    width: 100%;
    height: auto;
  }
}
.welcome .img .main {
  -webkit-box-reflect: below 1px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.68, transparent), to(#ffffff));
  margin-bottom: 25px;
  position: relative;
  z-index: 0;
  width: 541px;
  height: 262px;
}
.welcome h1,
.welcome p {
  position: relative;
  z-index: 10;
}
.disorders {
  width: 70%;
  float: left;
}
@media screen and (max-width: 599px) {
  .disorders {
    width: 100%;
    float: none;
  }
}
.disorders .img {
  width: 100%;
  height: auto;
}
@media screen and (max-width: 599px) {
  .disorders .img {
    width: 100%;
    height: auto;
  }
}
.disorders .img h2 + p {
  margin-left: 15px;
}
.me {
  width: 70%;
  float: left;
}
@media screen and (max-width: 599px) {
  .me {
    width: 100%;
    float: none;
  }
}
.me .img {
  float: left;
  margin: 0 15px 15px 0;
  width: 208px;
  height: 300px;
}
.therapy {
  width: 70%;
  float: left;
}
@media screen and (max-width: 599px) {
  .therapy {
    width: 100%;
    float: none;
  }
}
.therapy .img {
  width: 100%;
  height: auto;
}
.appointment {
  width: 70%;
  float: left;
}
@media screen and (max-width: 599px) {
  .appointment {
    width: 100%;
    float: none;
  }
}
.appointment .side {
  display: block;
}
.appointment .side .side .img {
  float: left;
  padding: 0 50px 0 125px;
  width: 197px;
  height: 300px;
}
.appointment .side .side .contact-info {
  text-align: center;
  padding-top: 35px;
}
.appointment .side .side .contact-info li {
  margin-bottom: 20px;
  font-size: 1.25em;
}
.appointment .side ol {
  list-style-type: decimal;
  padding-bottom: 1em;
  margin-left: 50px;
}
.appointment .side ol li {
  margin-bottom: 10px;
}
.main-pg,
.supervision {
  width: 70%;
  float: left;
}
.main-pg .img,
.supervision .img {
  wwidth: 100%;
}
@media screen and (max-width: 599px) {
  .main-pg,
  .supervision {
    width: 100%;
    float: none;
  }
}
@media screen and (max-width: 599px) {
  p {
    line-height: 20px;
    font-size: 14px;
  }
}
/* FOOTER */
.footer {
  padding: 25px 0 15px;
  position: fixed;
  bottom: 0;
  background-color: #f0f0f0;
  width: 100%;
  text-align: center;
  z-index: 999;
}
.footer ul {
  list-style-type: none;
  font-family: Helvetica, Arial, sans-serif;
}
.footer ul li {
  display: inline-block;
  font-size: 16px;
  border-right: 1px solid #e0e0e0;
  padding: 0 10px 0 0;
  margin: 0 10px 0 0;
  float: left;
}
.footer ul li:last-child {
  border-right: none;
  padding-right: 0;
  margin-right: 0;
}
@media screen and (max-width: 599px) {
  .footer {
    width: 100%;
    padding: 10px 10px 4px 10px;
  }
  .footer ul {
    padding-left: 50%;
    margin-left: -35%;
  }
  .footer ul li {
    border: none;
    font-size: 12px;
    padding: 0 5px 0 0;
    margin: 0 5px 0 0;
  }
}
